<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin Page</title>

    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <section>
    <div class="container">
        <div class="user singinBx">
            <div class="imgBx"><img src="./image/cutomer-2.jpg" alt="" width="400px" height="500px"></div>
            <div class="formBx">
                <form action="/login" method="POST">
                    <h2>Sign In</h2>
                    <input type="text" placeholder="username" name="email">
                    <input type="password" placeholder="password" name="password">
                    <input type="submit" value="login">
                    <button class="singup" type="submit">done't have an account? <a href="/registration" onclick="toggleForm()">Sing Up</a> </button>
                </form>
            </div>
        </div>

        <div class="user signupBx">
           
            

    </div>
</section>



</body> 
</html>